NEXT_PUBLIC_APP_NAME=ERP Multi-Sucursal
NEXT_PUBLIC_APP_SHORT_NAME=ERP
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_ENV=development
NEXT_PUBLIC_SANDBOX_LABEL=Sandbox Interno
NEXT_PUBLIC_ENABLE_PWA=false

NEXT_PUBLIC_SUPABASE_URL=https://TU-PROYECTO.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_SUPABASE_ANON_KEY

# Pooling URL para la app en runtime
DATABASE_URL=postgresql://usuario:password@host-pooler:6543/postgres?pgbouncer=true

# Conexion directa para migraciones y Prisma CLI
DIRECT_URL=postgresql://usuario:password@host-directo:5432/postgres
