NEXT_PUBLIC_APP_NAME=ERP Multi-Sucursal
NEXT_PUBLIC_APP_SHORT_NAME=ERP
NEXT_PUBLIC_APP_URL=https://sandbox.tudominio.com
NEXT_PUBLIC_APP_ENV=sandbox
NEXT_PUBLIC_SANDBOX_LABEL=Sandbox Interno
NEXT_PUBLIC_ENABLE_PWA=false

NEXT_PUBLIC_SUPABASE_URL=https://tu-proyecto-sandbox.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=TU_SUPABASE_ANON_KEY_SANDBOX

# Runtime app connection via pooler
DATABASE_URL=postgresql://usuario:password@host-pooler:6543/postgres?pgbouncer=true

# Direct connection for Prisma migrations
DIRECT_URL=postgresql://usuario:password@host-directo:5432/postgres
